body{
  font-family: 'Nunito Sans'; 
}

.header{
  margin-bottom: 20px;
}
.content {
  
}

/* TOP SECTION */
.top_section{
  margin-bottom: 10px;
}
.top-left{
  /* border: 4px  solid #ccc; */
  
}

.top-right{
  /* border: 4px  solid #ccc; */
 
}
/* BOTTOM SECTION */
.bottom_section{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bottom_section div{ 

} 
.bottom_section div img{
  height: 100%;
  width: 100%;
}

/* FOOTER */
.footer{
  margin-top: 5;
  background-color: #0c7c75;
  position: fixed;
  width: 100%;
  height: 50;
  bottom: 0;
  text-align: center;
}

/* PORTFOLIO */
.project{
}
.project img {
  margin-right: 10px;
  float : left;
  height: 300px;
  width: 300px;
}
